<h1><%= "User #{params[:id]}" %> </h1>

<div>Name: <%= @user.name ? @user.name : "Not Provided" %></div>
<br>
<div>Email: <%= @user.email %></div>


<h2>Items</h2>

<%= render partial: 'items/show', locals: {items: @user.items}%>

<%= link_to 'Edit', edit_user_registration_path(@user) %> |
<%= link_to 'Back', users_path %>