
  <%= form_for [@user,@item] do |f| %>

  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, id: :item_name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :expiration_date %>
    <%= f.text_field :expiration_date, id: :item_expiration_date, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Belongs to: " %>
    <% if @user %>
      <%= @user.user_form_identifier %>
      <% f.collection_select :user_id, User.all, :id, :user_form_identifier, {selected: user.id}, {hidden: "hidden"} %>
    <% else %>
      <%= f.collection_select :user_id, User.all, :id, :user_form_identifier, {selected: current_user.id} %>
    <%end %>
  </div>
        
  <div class="field">
    <%= f.label "Fridge: " %>
    <%= f.collection_select :fridge_id, Fridge.all, :id, :fridge_form_identifier, {selected: @item.fridge.try(:id), include_blank: "Add new"}, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.fields_for :fridge_attributes do |fridge_fields| %>
        <%= fridge_fields.label "Create new fridge to place item:" %></br>
        <%= fridge_fields.text_field :name, class: "form-control" %></br>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit(nil,{class: "btn btn-primary"}) %>
  </div>

<% end %>